name: .NET CI/CD

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  release:
    types: [created]

jobs:
  build:
    runs-on: windows-latest
    if: startsWith(github.ref, 'refs/tags/') == false && contains(github.event.head_commit.message, '[no ci]') == false

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Install dependencies
      run: nuget restore

    - name: Build
      run: dotnet build -c Release -p:DebugType=None -p:DebugSymbols=false

  publish:
    runs-on: windows-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Install dependencies
      run: nuget restore

    - name: Build
      run: dotnet build -c Release -p:DebugType=None -p:DebugSymbols=false

    - name: Create release artifacts
      run: |
        mkdir artifacts
        mkdir artifacts\addons\counterstrikesharp\
        mkdir artifacts\addons\counterstrikesharp\plugins\LupercaliaMGCore\
        mkdir artifacts\addons\counterstrikesharp\plugins\LupercaliaMGCore\lang\
        mkdir artifacts\addons\counterstrikesharp\shared\
        Copy-Item -Path "LupercaliaMGCore\bin\Release\*\LupercaliaMGCore.dll" -Destination "artifacts\addons\counterstrikesharp\plugins\LupercaliaMGCore\LupercaliaMGCore.dll" -Force
        Copy-Item -Path "lang\*" -Destination "artifacts\addons\counterstrikesharp\plugins\LupercaliaMGCore\lang\" -Recurse -Force
        
    - name: Copy artifacts directory to make with dependencies artifacts
      run: |
        mkdir artifacts-with-dependencies\
        Copy-Item -Path "artifacts\*" -Destination "artifacts-with-dependencies\" -Force -Recurse

    - name: TNCSSPluginFoundation Download from GitHub
      run: Invoke-WebRequest https://github.com/fltuna/TNCSSPluginFoundation/releases/latest/download/TNCSSPluginFoundation.zip -OutFile TNCSSPluginFoundation.zip

    - name: TNCSSPluginFoundation Extract ZIP and put into artifacts
      run: Expand-Archive -Path TNCSSPluginFoundation.zip -DestinationPath TNCSSPluginFoundation-Extracted\

    - name: Copy TNCSSPluginFoundation to with dependencies artifacts
      run: |
        Copy-Item -Path "TNCSSPluginFoundation-Extracted\*" -Destination "artifacts-with-dependencies\addons\counterstrikesharp\" -Force -Recurse

    - name: NativeVoteAPI Download from GitHub
      run: Invoke-WebRequest https://github.com/fltuna/NativeVoteAPI-CS2/releases/latest/download/NativeVoteAPI.zip -OutFile NativeVoteAPI.zip

    - name: NativeVoteAPI Extract ZIP and put into artifacts
      run: Expand-Archive -Path NativeVoteAPI.zip -DestinationPath NativeVoteAPI-Extracted\

    - name: Copy NativeVoteAPI to with dependencies artifacts
      run: |
        Copy-Item -Path "NativeVoteAPI-Extracted\*" -Destination "artifacts-with-dependencies\addons\counterstrikesharp\" -Force -Recurse
        
    # Use version specific URL, because "latest" is not work
    - name: ExternalView Download from GitHub
      run: Invoke-WebRequest https://github.com/spitice/cs2-external-view/releases/download/v2.1.0/ExternalView_HelperOnly.zip -OutFile ExternalView_HelperOnly.zip
      
    - name: ExternalView Extract ZIP and put into artifacts 
      run: Expand-Archive -Path .\ExternalView_HelperOnly.zip -DestinationPath .\ExternalViewHelper

    - name: Copy ExternalView to with dependencies artifacts
      run: |
        Copy-Item -Path "ExternalViewHelper\*" -Destination "artifacts-with-dependencies\" -Force -Recurse

    - name: Compress artifacts
      run: |
        Compress-Archive -Path artifacts/* -Destination LupercaliaMGCore.zip
        Compress-Archive -Path artifacts-with-dependencies/* -Destination LupercaliaMGCore-with-dependencies.zip

    - name: Upload release assets
      uses: actions/upload-artifact@v4
      with:
        name: release-artifacts
        path: |
          LupercaliaMGCore.zip
          LupercaliaMGCore-with-dependencies.zip

  release:
    runs-on: windows-latest
    needs: publish

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: release-artifacts
        path: artifacts/

    - name: check files
      run : |
        tree

    - name: Create Release and Upload Asset
      run: |
        gh release create "${{ github.ref_name }}" --title "Release ${{ github.ref_name }}" --generate-notes --draft=false artifacts/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
